
.text {
  position:relative; left: 800px; top: 450px;
}




/* .HomePage {
    text-align: center;
  }
  
  .Home-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .Home {
    background-color: #908989;
    min-height:40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(6px + 2vmin);
    /* font-family: */
    /* color: rgb(251, 246, 246);
  }
  
  .Home-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg); */
    /* }
  } */ 